#NoCtrlZ {
  align-self: center;

  -webkit-box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);

}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  margin-top: auto;
  margin-bottom: auto;
}

html,
body {
  height: 100%;
}

.btn {
  width: 180px;

}

#icon {
  color: #ffffff;
  font-size: 2em;
  border: 0px solid #6ec286;
  padding: 4px 4px 4px 4px;
  position: absolute;
  top: 5px;
  left: 23px;
  width: 24px;
  height: 24px;
}

#rectangle {
  width: 240px;
  height: 250px;
  background: white;

  -webkit-box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px #289fed, 10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff, 20px 20px 0px 0px #cae6ff,
    25px 25px 0px 0px #e1eeff, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

.ribbon {
  opacity: 0;
}