.bodyArea {
  color: white;
  margin-top: 40px;
}

#text-box {
  width: 750px;
  height: 470px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(44, 70, 139, 0.712);
  opacity: 0.99999;
  z-index: 1;
}

#content {
  color: black;
}
