#NoCtrlZ {
  text-align: center;
  align-self: center;
  box-shadow: 10px 10px 20px rgba(44, 70, 139, 0.712);
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#mainArea {}

.App {
  margin-top: auto;
  margin-bottom: auto;
}

html,
body {
  height: 100%;
  background-color: cadetblue;
}

.btn {

  width: 150px;

}

#rectangle {
  width: 200px;
  height: 500px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(44, 70, 139, 0.712);
}