.background {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1500px;
    height: 1000px;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}